body 
{
  margin: 0;
  font-family: "Lato", sans-serif;
}
.page 
{
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	width: auto;
	height: auto;
	position: relative;
	left: 210px;
	top: 10px;
}
.container 
{
	position: sticky;
}
.overlay 
{
	position:absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1; 
	width: 70px;
	height: 20px;
	opacity: 0;
	transition: .6s ease;
	font-size: 20px;
	text-align: center;
	opacity: 1;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
